body {
  background-color: #C6D4E0;
}

p {
  font-family: monospace;
  font-size: 35px;
  border: 1.5px outset black;
  border-radius: 8px;
  background-image: url("css.jpg");
  padding:20px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  width: 460px;
  color: white;
  font-weight: bold;
}

button, button1 {
  background-color: #C6D4E0;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  margin: 5px 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button{
  width: 90px;
}

.button1{
  width: 60px;
  font-weight: bold;

}

.button:hover {
  background-image: url("css.jpg");
  /*background-color: #3A5163;*/
  color: white;
}

.button1:hover {
  background-image: url("css.jpg");
  color: white;
}


.calculadora{
  margin: auto;
  margin-top: 600;
  width: 500px;
  height:250px;
  border: 1.5px outset black;
  border-radius: 10px;
  background-image: url("css.jpg");
  /*background-color: #4d4d33;*/
}

#izquierda {
  margin:auto;
  width: 310px;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  float:left;
}

#derecha {
  margin:auto;
  width: 150px;
  height: 250px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  float:right;
}
